@import "compass","compass/reset";

#main {
    position: relative;
    margin: 0 auto;
}
.box {
	padding: 15px 0px 0 15px;
	float: left;
}
.pic {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 6px #ccc;
	img{
        width: 162px;
        height: auto;
    }
}